i.bi.bi-gem {
	color: green;
}

.container-fluid {
	margin-bottom: 50px;
	margin-left: 80px;
	margin-right: 0px;
}

img {
	max-width: 100%;
	display: block;
}

.space-1 {
	margin-right: 4px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	height: 280px;
	width: 280px;
}

.space-2 {
	margin-right: 4px;
	margin-top: 5px;
	padding-top: 5px;
	height: 280px;
	width: 280px;
}

.space-3 {
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	height: 280px;
	width: 280px;
}

.space-4 {
	margin-right: 4px;
	margin-left: 4px;
	margin-top: 5px;
	padding-top: 5px;
	height: 280px;
	width: 280px;
}

.space-5 {
	margin-left: 4px;
	height: 575px;
	width: 575px;
}
